<footer>
  <div class="contents">
    <div class="brand">
      <img src="/assets/images/logo.png" alt="">
      <p class="tagline">We are always ready</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur eligendi, quam neque iusto enim nemo hic numquam minima, aliquam officiis aut esse optio vel cum ea perspiciatis iure ad! Iste? </p>
    </div>
    <div class="working">
      <h3>Working Hours:</h3>
      <div class="hours">
        <table>
          <tr>
            <td>Weekdays:</td>
            <td>8am - 9pm</td>
          </tr>
          <tr>
            <td>Saturdays:</td>
            <td>8am - 9pm</td>
          </tr>
          <tr>
            <td>Sundays:</td>
            <td>8am - 9pm</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="contact">
      <h3>Subscribe</h3>
      <form>
        <input type="email" placeholder="Email">
        <button type="submit" class="btn">Send <i class="fas fa-paper-plane"></i> </button>
      </form>
    </div>
  </div>
  <div class="divider"></div>
  <div class="remains">
    <div class="copy">
      <p class="copyright">&copy; Br@nd Dine&trade; </p>
    </div>
    <div class="handles">
      <a href="#"><i class="fab fa-facebook ico" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-instagram ico"></i></a>
      <a href="#"><i class="fab fa-whatsapp ico"></i></a>
      <a href="#"><i class="fab fa-linkedin-in ico"></i></a>
    </div>
  </div>
</footer>