<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= (typeof title != 'undefined')? title :'Fast Food'%></title>
        <%- include ('partials/style') %>
        <link rel="stylesheet" href="assets/css/menu.css">
    </head>

    <body>

        <section id="showcase">
            <img src="/assets/images/menu.jpg" alt="">
            <div class="text">
                <div class="my-container">
                    <h5>Menu</h5>
                </div>
            </div>
        </section>


        <%- include ('partials/footer') %>
        <%- include ('partials/script') %>
        <script src="assets/js/menu.js" type="module"></script>
    </body>

</html>