// $primaryColor: #619216;
// $secondaryColor  : #fea700;
// $accent        : #ebfcd1;

$primaryColor   : #279e60;
$secondaryColor : #fea700;
$accent         : #e9fef3;
$success        : #198754;
$error          : #dc3545;